container_commands:

    14_permissions:
        # fix permissions on the Laravel app folder
        command: "chmod 777 -R /var/app/current/storage"
        cwd: "/var/app/current/storage"
    15_permissions:
        # fix permissions on the Laravel app folder
        command: "chmod 777 -R /var/app/current/bootstrap"
        cwd: "/var/app/current/bootstrap"

