container_commands:

    14_permissions:
        # fix permissions on the Laravel app folder
        command: "chmod 777 -R /var/app/staging/storage"
        cwd: "/var/app/staging/storage"
    15_permissions:
        # fix permissions on the Laravel app folder
        command: "chmod 777 -R /var/app/staging/bootstrap"
        cwd: "/var/app/staging/bootstrap"

