container_commands:

    12_cache:
        command: "php artisan cache:clear"
        cwd: "/var/app/test"
    13_optimize:
        command: "php artisan optimize --force"
        cwd: "/var/app/test"
    14_permissions:
        # fix permissions on the Laravel app folder
        command: "chmod 777 -R /var/app/test/storage"
        cwd: "/var/app/test/storage"
    15_permissions:
        # fix permissions on the Laravel app folder
        command: "chmod 777 -R /var/app/test/bootstrap"
        cwd: "/var/app/test/bootstrap"

